body{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: #ebe3e3;
}
.container{
    border: 3px solid #4949a3;
    border-radius: 5px;
    width: 40%;
    height: 60%;
    position: absolute;
    top: 22%;
    left: 30%;
    background-color: #726c6cec;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 50px;
    color:#f1f1f1;
    font-family: 'Tangerine', serif;
}

form > input{
    border-radius: 5px;
    font-size: 35px;
    font-weight:bold;
    font-family: Arial;
    color: #333333;
    background-color:#e4e4e4;
    position: relative;
    top: 5%;
    left: 9%;
    margin-top: 30px;
    width: 82%;
    height: 60px;
}

.button-container{
    font-size: 20px;
    /* margin: 10px 10px; */
    position: relative;
    top: 5%;
    left: 6%;
}

.btn{
    border-radius: 4px;
    height: 7%;
    width: 25%;
    margin: auto 10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Tangerine', serif;
    padding: 5px;
}

.btn:hover{
    color:#ffffff;
    background-color:#12124e;
}

