*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.container{
    background-color: #6d6c22fb;
    text-align:center;
    padding:20px;
}

.first-text{
    font-size:30px;
    color:white;
}

.first-text > strong{
    font-size: 26px;
}

.second-text{
    padding-top:5px;
    color: #e40b1d9c;
}


span{
    font-size: 20px;
}

.second-text > strong{
    font-size:30px;
    font-weight:bold;
}


.blinking-text{
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

@keyframes blinker {
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0.6;
    }
    50% {
        opacity: 0.4;
    }
    80%{
        opacity: 0.2;
    }
}